body{
    background-image: url('hexbackground.jpg');
    color:black;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 40px;
    font-family: 'Bellefair', serif;

}

header{
    font-family:'Galada', 'cursive';
}



.aboutme {
    text-decoration: underline;
    color: black;
    margin-right: 85%;
    background-color: darkgrey;
    text-align: center;
}

h1{
    text-decoration: underline;
    text-decoration-color: red;
    color:black;
    text-align:left;
    
}


p{
    background-color:silver;
   margin: 0px;
   padding: 8px 8px 8px 8px;
}

#aboutMe{
background-color: silver;

}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    float: right;
    

}

li{
    display: inline;
    margin-top: 50px;
    margin-right: 50px;

}

.bar{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: silver;
}

.contactform{
    background-color: silver;

}

.row::after{
    display: flex;
content: "";
clear: both;
display: table;


}

.column{
    float: left;
    padding: 10px;

}