body{
    background-image: url('hexbackground.jpg');
    color:black;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 40px;
    font-family: 'Bellefair', serif;

}

header{
    font-family:'Galada', 'cursive';
}

.tabs{
    float:right;
}

.aboutme {
    text-decoration: underline;
    color: black;
    margin-right: 85%;
    background-color: darkgrey;
    text-align: center;
}

h1{
    text-decoration: underline;
    text-decoration-color: red;
    background-color: darkgray;
    color:black;
    text-align:left;
}


p{
    background-color:silver;
   margin: 0px;
   padding: 0px 8px 0px 8px;
}